@model AutoRent.Models.CarImage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Company/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CarImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input value="@ViewBag.CarId" class="form-control" type="hidden" name="CarId" />

            <div class="form-group">
                <label asp-for="CarImg" class="control-label"></label>
                <table>
                    <tr>
                        <td><input type="file" asp-for="CarImg" name="CarImg" /> </td>
                    </tr>
                </table>
                <span asp-validation-for="CarImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

