@model IEnumerable<AutoRent.Models.CarCategory>

<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="display text-uppercase text-center mb-1" style="color:darkorange">Car Categories</h1>
        <div class="owl-carousel team-carousel position-relative" style="padding: 0 30px;">
            @foreach (var item in Model)
            {
            <div class="team-item">
                <a asp-action="CarByCategory" asp-controller="Home" asp-route-id="@item.CategoryId">
                    <img class="img-fluid w-100" src="@Url.Content(item.CategoryLogo)" alt="" />
                </a>
            </div>
            }
            </div>
    </div>
</div>
<!-- Category End -->
